
<div class="container">
 <br>
  <h1 id= "book-titles">Vos bookings </h1>
  <br>
  <br>
  <% @bookings.last(4).each do |booking| %>
    <div class="card-trip mb-4">
    <img src="<%= booking.place.photo %>">
    <div class="card-trip-infos">
      <%= link_to "Cancel", booking_path(booking), method: :delete, class:"btn btn-danger m-4" %>
      <%= link_to "View Place", place_path(booking.place), class:"btn btn-outline-success m-4" %>

      <div>
        <h2>Votre prochain <%= booking.place.party_type %> à <%= booking.place.name %></h2>
        <p>Rendez-vous le: <%= booking.date %></p>
      </div>
      <h2 class="card-trip-pricing"><%= booking.place.price %>€ / nuit</h2>
      <img src='<%= current_user.photo %>' class="card-trip-user avatar-bordered"/>
    </div>
    </div>
  <% end %>

  <br>
  <br>
  <h1 id= "book-titles">Vos Appartements </h1>
  <br>
  <br>
  <% current_user.places.each do |place| %>
    <div class="card-product m-4">
      <img src="<%= place.photo %>">
      <div class="card-product-infos">
        <h2><%= place.name %></h2>
        <p>Up to <%= place.guest_capacity %> guests.</p>
        <p><%= place.price %>€ / nuit.</p>
        <%= link_to "edit", edit_place_path(place), class:"btn btn-outline-warning" %>
      </div>
    </div>
  <% end %>
<%= link_to "add an appartement", new_place_path, class:"btn btn-outline-warning m-4" %>
</div>
