
<% if @map_flag == 'index' %>
  <div class="card-trip">
    <img src='<%= place.photo %>'>
    <div class="card-trip-infos">
      <div>
        <h2 class="mb-0"><%= place.name %></h2>
        <p><%= place.description.first(30) %>...</p>
      </div>

      <img src='<%= place.user.photo %>' class="card-trip-user avatar-bordered"/>
    </div>
    <div><%= render 'shared/stars' %></div>
    <div>€ <%= place.price %>
        <%= link_to "Book Now", place_path(place), class:"btn btn-outline-primary btn-sm" %>
    </div>
  </div>
<% elsif @map_flag == 'show' %>
  <%= place.address %>
<% end %>
