<div class="place-container mt-3">

<!-- query -->


      <div class="ml-auto flex">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
        </form>
      </div>


<!--   Results query -->

  <div class="row">
    <div class="col">
      <p>Vous avez cherchez <strong><%= @query %></strong>. Nous avons trouvé <%= @places.count %> résultats sur un total de <%= Place.count %> lieux sur notre plateforme.</p>
    </div>
  </div>


<!-- Display cards  -->

  <div class="row">
    <% @places.first(8).each do |place| %>
      <div class="col-3 px-2">
        <div class="place-card">
          <div class="place-card-image" style="background-image: url('<%= place.photo %>')"></div>
          <div class="place-card-content pt-2">
            <div class="place-card-title d-flex align-items-center mb-0 pb-0">
              <h4><%= place.name.upcase %></h4>
              <span class="point px-1 pb-2"> · </span>
              <h4>PARIS 11</h4>
            </div>
            <p class="mb-0"><%= place.name %></p>
            <div class="place-card-votes d-flex justify-content-start pt-1">
              <%= render 'shared/stars' %>
              <div class="votes pl-1 d-flex justify-content-start">
                <p>110</p>
                <span class="point px-1 pb-2"> · </span>
                <p>SuperApéro</p>
              </div>
              <!-- <div class="d-flex">
                <div class="d-flex">
                  <i class="material-icons mr-2">people</i><span><%= place.guest_capacity %></span>
                </div>
                <div class="flex ml-3">
                  <i class="material-icons mr-2">euro_symbol</i> <%= place.price %>
                </div>
              </div> -->
            </div>
          </div>
<!--           <div class="place-card-actions">
            <%= link_to 'More info', place_path(place) %>
            <a href="#" class="ml-3 text-warning">Edit</a>
            <a href="#" class="ml-3 text-danger">Remove</a>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>

  <p>Tollie was here</p>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


  <!-- our selection -->

  <div class="place-container mt-3 mb-3">
    <div class="row px-2">
      <div class="banner-index col-12" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpnte3nr8/image/upload/q_auto/v1559044107/adam-wilson-138927-unsplash_v5hjyn.jpg);">
        <div class="banner-index-container">
          <h1>Retrouvez la sélection de l'équipe</h1>
          <p>Des lieux testés et approuvés, pour passer les meilleurs apéros de votre vie de parisien.</p>
          <a  href="#">Commencer</a>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <% @places[8..@places.length].each do |place| %>
        <div class="col-3 px-2">
          <div class="place-card">
            <div class="place-card-image" style="background-image: url('<%= place.photo %>')"></div>
            <div class="place-card-content pt-2">
              <div class="place-card-title d-flex align-items-center mb-0 pb-0">
                <h4><%= place.name.upcase %></h4>
                <span class="point px-1 pb-2"> · </span>
                <h4>PARIS 11</h4>
              </div>
              <p class="mb-0"><%= place.name %></p>
              <div class="place-card-votes d-flex justify-content-start pt-1">
                <%= render 'shared/stars' %>
                <div class="votes pl-1 d-flex justify-content-start">
                  <p>110</p>
                  <span class="point px-1 pb-2"> · </span>
                  <p>SuperApéro</p>
                </div>
                <!-- <div class="d-flex">
                  <div class="d-flex">
                    <i class="material-icons mr-2">people</i><span><%= place.guest_capacity %></span>
                  </div>
                  <div class="flex ml-3">
                    <i class="material-icons mr-2">euro_symbol</i> <%= place.price %>
                  </div>
                </div> -->
              </div>
            </div>
  <!--           <div class="place-card-actions">
              <%= link_to 'More info', place_path(place) %>
              <a href="#" class="ml-3 text-warning">Edit</a>
              <a href="#" class="ml-3 text-danger">Remove</a>
            </div> -->
          </div>
        </div>
      <% end %>
    </div>
    <!-- map -->
    <div class="row">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
</div>
